body{
    font-family: Arial, sans-serif;
    background-color: azure;

}

h1{
    text-align: center;
}

h2{
    color: maroon;
    text-align: center;
}
table{
    border: 2px solid darkcyan;
    width: 650px;
    margin: 0 auto;
}

thead{
    background-color: burlywood;
}
td{
    border-top: 1px solid goldenrod;
}
.code{
    font-family: monospace;
    background-color: aquamarine;
}