/* 1. Global Styles
======================================== */
* {
    box-sizing: border-box;
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
  }

 .header-right{
  
  float: right;

  
 }

 .header-right li{
  display: inline-block;
  letter-spacing: 1px;
  padding-right: 2.22rem;
  text-decoration:underline;
  
  
 }

 header{
  border-bottom: 1px solid seashell;
  height: 89px;
 

 
 }

 .header-left{
   margin-left: 10px;
  
  
 }
.hero-section{
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  background-size: cover;
}

.ourmission{
  background-color: black;
  margin: 0;
  position: absolute;
  top: 68%;
  width:1250px;
  
 
}

 h2,h4{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-types{
 
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  
  
}

.tea-box{
 
  border-radius: 3px;
 
  display: inline-block;
  margin: 10px;
  padding: 14px;
  
 
} 

.locations{
  background-image: url('./images/img-locations-background.jpg');
  background-size: cover;
  padding: 40px;
  position: relative;
  text-align: center;
  width: 100%;
  height: 600px;
  margin-top: 20px;
 
 
  

}

.location-box{
  border-radius: 3px;
 
  display: inline-block;
  margin: 10px;
  padding: 40px;
 
  
}

.cozy{

 
  position: relative;
  text-align: center;
  width: 100%;
 
  height: 200px;

}

footer{
  text-align: left;
  margin-left: 20px;
}

