/* 1. Global Styles
======================================== */
* {
    box-sizing: border-box;
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
  }

 .header-right{
  
  float: right;

  
 }

 .header-right li{
  display: inline-block;
  letter-spacing: 1px;
  padding-right: 2.22rem;
  text-decoration:underline;
  
  
 }

 header{
  border-bottom: 1px solid seashell;
  height: 89px;
 

 
 }

 .header-left{
   margin-left: 10px;
  
  
 }
.hero-section{
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  background-size: cover;
}

.ourmission{
  background-color: black;
  margin: 0;
  position: absolute;
  top: 68%;
  width:1250px;
  
 
}

 h2,h4{
  display: flex;
  justify-content: center;
  align-items: center;
}


