/* 1. Global Styles
======================================== */
* {
    box-sizing: border-box;
     margin: 0;
     padding: 0;
    
  }

  html{
    font-size: 22px;
  }

  body{
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    opacity: 0.9;
    text-align: center;
    
  }
 /* Header Styles */

 header{
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: black;
 }

 .logo{
  height: 50px;
  margin-left: 10px;
 }

 header li{
  display: inline;
  padding: 0.5rem;
 }

 header a{
  color: seashell;
 }

 /* Hero-mission Styles */
.hero-section{
  position: relative;
	top: 69px;
	opacity: 0.9;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container{
  background-color: black;
}

.ourmission{
  width:1200px;
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  }

  .ourmission.container{
    width: 100%;
  }

 .ourmission h2, .ourmission h4{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tea-types-styles */

.tea-types{
 
  margin: 40px auto 50px;
  width: 1000px;
  }

  .tea-types h2, .tea-types h4{
    padding: 10px;
  }

.tea-box{
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  } 

   .tea-box img{
    height: 200px;
    width: 300px;
    margin: 10px;
  }

  /* Location Styles */

.locations{
  position: relative;
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/img-locations-background.jpg');
  background-size: cover;
  background-position: 100% 15%;
	background-repeat: no-repeat;

}

.location h2{
  position: absolute;
  top: 75px;
}

.location-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

  .location-container .location-box {
    flex-basis: 300px;
    margin: 15px 20px;
    height: 245px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    background-color: black;
  }

  /*Contact Styles*/


.cozy{
  height: 200px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
}

footer{
  position: relative;
	top: 69px;
	margin-left: 20px;
	text-align: left;
}

